name: Test Examples

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r .github/workflows/requirements.txt
        bash examples/PhysiCell.sh
        cd examples/PhysiCell-master
        make virus-macrophage-sample
        make

    - name: Run Example 1
      run: |
        python examples/ex1_print.py

    - name: Run Example 2
      run: |
        python examples/ex2_runModel.py

    - name: Run Example 3
      run: |
        python examples/ex3_runModelCust.py
